@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* SplideJS has there own css file i can not add tailwind classes to it */
@layer components {


    .bg-own-neutral-100 {
        --tw-bg-opacity: 1;
        background-color: rgb(255 179 179 / var(--tw-bg-opacity));
    }

    .from-own-neutral-50 {
        --tw-gradient-from: #FFCCCC var(--tw-gradient-from-position);
        --tw-gradient-from-position:  ;
        --tw-gradient-to: rgb(250 252 255 / 0)  var(--tw-gradient-from-position);
        --tw-gradient-to-position:  ;
        --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    }

    .maskedImageContainer {
        position: relative;
        width: 300px;
        height: 300px;
        border-radius: 100%; /* Make the container round */
        overflow: hidden; /* Clip the image to the container's rounded shape */
      }
      
      .maskedImage {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

    .to-own-secondary-800 {
        --tw-gradient-to: #244076 var(--tw-gradient-to-position);
        --tw-gradient-to-position:  
    }
    .from-own-secondary {
        --tw-gradient-from: #4780EB var(--tw-gradient-from-position);
        --tw-gradient-from-position:  ;
        --tw-gradient-to: rgb(71 128 235 / 0)  var(--tw-gradient-from-position);
        --tw-gradient-to-position:  ;
        --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    }

    .ring-own-neutral-200{
        --tw-ring-opacity: 1;
        --tw-ring-color: rgb(0 0 0 / var(--tw-ring-opacity));
    }

    .stroke-own-neutral-900 {
        stroke: #1C1F24;
    }
    
    .h-75vh {
        height: 75vh;
    }

    .stroke-own-neutral-100 {
        stroke: #E6EAF2;
    }

    .flex_center{
        display: flex;
        align-items: center;
    }
    :is(.dark .dark\:from-own-neutral-900) {
        --tw-gradient-from: #1C1F24 var(--tw-gradient-from-position);
        --tw-gradient-from-position:  ;
        --tw-gradient-to: rgb(28 31 36 / 0)  var(--tw-gradient-from-position);
        --tw-gradient-to-position:  ;
        --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    }
    .ring-own-neutral-300 {
        --tw-ring-opacity: 1;
        --tw-ring-color: rgb(189 193 199 / var(--tw-ring-opacity));
    }

    .bg-own-neutral-900 {
        --tw-bg-opacity: 1;
        background-color: rgb(28 31 36 / var(--tw-bg-opacity));
    }
    .bg-own-neutral-800 {
        --tw-bg-opacity: 1;
        background-color: rgb(33 35 38 / var(--tw-bg-opacity));
    }
    .from-own-neutral-0 {
        --tw-gradient-from: #FFCCCC var(--tw-gradient-from-position);
        --tw-gradient-from-position:  ;
        --tw-gradient-to: rgb(255 255 255 / 0)  var(--tw-gradient-from-position);
        --tw-gradient-to-position:  ;
        --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    }
    .splide__carousel {
        display: flex;
        overflow: hidden;
    }

    .splide__slide-carousel {
        width: 100%;
        transition: opacity 400ms;
        opacity: .3;
        padding-bottom: 16px;
    }

    .splide__slide-carousel.is-active {
        opacity: 1;
    }

    .splide__slide-carousel img {
        transition: transform 400ms;
        transform: scale(.7) rotate(0deg);
        /* use reduce motion to disable the animation */

        will-change: transform;
    }

    .splide__slide-carousel.is-active img {
        will-change: transform;
        transform: scale(1);
    }

    .splide__slide-carousel.is-active:hover img {
        transform: rotate(1deg) scale(1.05);
    }

    .splide__slide-carousel.is-active:hover .img-hover__text {
        display: flex;
    }

    .splide__slide-carousel .img-hover__text {
        display: none;
    }

    .splide__slide-carousel .img__text {
        opacity: 0;
        transition: opacity 250ms;
    }

    .splide__slide-carousel.is-active .img__text {
        opacity: 1;
    }

    @media (prefers-reduced-motion: reduce) {
        .splide__slide-carousel img {
            transition: none;
        }

        .splide__slide-carousel .img__text {
            transition: none;
        }

        .splide__slide-carousel.is-active .img__text {
            opacity: 1;
        }
    }

}